.loginform{
    padding: 3rem;
    width:60vw;
    margin:1.8rem auto;
}

.control {
    margin-bottom: 0.5rem;
  }

.loginhead{
    text-align: center;
    font-size: 2rem;
  }

  .registerbtn{
    border: 0.1rem solid rgb(0, 26, 255);
    color:rgb(0, 26, 255);
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.6rem 1.4rem;
    transition: 700ms;
   
  }
  .registerpart{
     margin-top: 3rem;
     display: flex;
     gap:0.6rem;
     flex-wrap: wrap;
     flex-direction: row;
  }
  .registerbtn:hover{
    color:white;
    background-color: rgb(0, 26, 255);
    cursor: pointer;
  }

  .control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input{
    display: block;
    font: inherit;
    border-radius: 4px;
    border: none;
    border: 0.02rem solid rgb(0, 170, 255);
    padding: 0.25rem;
    width: 100%;

  }

  .actions {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #50ad6e;
    color: white;
    padding: 0.5rem 4rem;
    border: 1px solid #50ad6e;
    border-radius: 4px;
    font-weight: bold;
    transition: 700ms;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: rgb(8, 104, 27);
    border-color: rgb(8, 104, 27);
    font-size: 1.2rem;
    
  }